body{
    background-color: #204D72;
}
table{
	border-collapse: collapse;
		width: 90%;
}
table th{
border: 1px solid #000;
    padding: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border: 2px solid #EFF2F4;
    background-color: #4183A5;
    color: #CCCCCC;
    text-align: center;
}
table td{
	border: 1px solid #000;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #A3D2EF;
    border: 2px solid #EFF2F4;
    text-align: left;
    color: #002C51;
}
/*form*/
section#input-form{
    position: relative;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    border-radius: 6px;
    background-color: #A3D2EF;
    box-shadow: 0 0 7px 0px rgb(155, 192, 221);
    padding: 30px;
}
#input-form .form{
    width: 100%;
    display: grid;
    margin-top: 15px;
    margin-bottom: 15px;
}
#input-form .form select{
    display: inline-block;
    margin-top: 15px;
}
#input-form .form .foto{
    background-color: white;
}
#input-form .Gender{
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 17px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #8888;
}
#input-form .Gender .val {
    margin-left: 10px;
    background-color: white;

}
#input-form .Skill{
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #8888;
}
#input-form .Gender .kll {
    margin-left: 10px;
    background-color: white;
}
#i
br {
    margin-top: 3px;
}
label{
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    color:#163651;
    font-weight: 600;
}
input{
    font-family: 'Helvetica', sans-serif;
    padding: 10px 20px 10px 20px;
    color: #163651;
    outline: none;
    border-radius: 3px;
    border: 1px solid #8888;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

/*submit button*/
.bg-blue{
    background-color: #0E5154;
    color: #fff;
    box-shadow: 0 0 7px 0px #89ACC9;
    border: 1px solid #89ACC9;
}
.bg-blue:hover{
    background-color: #3A92A0;
    color: #fff;
}
