table{
	border-collapse: collapse;
		width: 80%;
}
table th{
border: 1px solid #000;
    padding: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(255, 76, 130);
    color: pink;
    text-align: center;
}
table td{
	border: 1px solid #000;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(190, 93, 122);
    text-align: left;
    color: white;
}
